{
  "extends": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
  },
  "overrides": [
    {
      "env": {
        "cypress/globals": true, // Allow Cypress globals
        "jest": true,
        "mocha": true,
        "node": true,
      },
      "files": ["**/*.spec.js", "**/*.spec.jsx"],
    },
  ],
}
